<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" type="button" {{action "logout"}}>
    Logout
  </button>
</div>
<h2>Orders</h2>
<ul>
  {{#each @model.orders as |order|}}
    <li>
      <LinkTo @route="order" @model={{order.id}}>
        {{#if (eq order.status 'created')}}
          <i class="hourglass outline yellow icon"></i>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        {{/if}}
        {{#if (eq order.status 'prepared')}}
          <i class="check green icon"></i>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
          <span class="ui button small positive">{{order.toPay}}€</span>
        {{/if}}
      </LinkTo>
    </li>
  {{/each}}
</ul>