<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" type="button" {{action "logout"}}>
    Logout
  </button>
</div>
<h2>Préparation des commandes</h2>

<h3>Créées (en attente de préparation)</h3>
<ul>
  {{#each @model.orders as |order|}}
        {{#if (eq order.status 'created')}}
        <li>
        <LinkTo @route="order" @model={{order.id}}>
          <i class="hourglass outline yellow icon"></i>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        </LinkTo>
        </li>
        {{/if}}
  {{/each}}
</ul>
<h3>Préparées</h3>
<ul>
  {{#each @model.orders as |order|}}
  {{#if (eq order.status 'prepared')}}
    <li>
      <LinkTo @route="order" @model={{order.id}}>
        <i class="check green icon"></i>
        {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        <span class="ui button small positive">{{order.toPay}} €</span>
      </LinkTo>
    </li>

  {{/if}}
  {{/each}}
</ul>