{{page-title "Categories"}}
<LinkTo class="btn btn-primary" @route="categories.add">Ajouter un categories</LinkTo>
<div>
  <BsNav @type="tabs" as |nav|>
    {{#each @model.categories as |category|}}
      <nav.item>
        <nav.linkTo @route="categories.contacts" @model={{category}}>{{category.name}}</nav.linkTo>
        <LinkTo class="btn btn-primary btn-sm" @route="categories.update" @model={{category}}><i class="bi bi-pencil-fill"></i></LinkTo>
        <button class="btn btn-danger btn-sm" type="button" {{action "delete" category}}>
          <i class="bi bi-x"></i>
        </button>
      </nav.item>
    {{/each}}
  </BsNav>
</div>

<!-- Ancienne vu des categories/listes de toutes les catégories -->
<!-- <table class="table">
  <tbody>
  {{#each @model.categories as |category|}}
    <tr>
      <td>{{category.name}}</td>
      <td>
        <LinkTo class="btn btn-primary btn-sm" @route="categories.update" @model={{category}}><i class="bi bi-pencil-fill"></i></LinkTo>
        <button class="btn btn-danger btn-sm" type="button" {{action "delete" category}}>
          <i class="bi bi-x"></i>
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table> -->





{{#if @model.deletedsCount}}
  <button class="btn btn-danger" type="button" {{action "confirmDeletion" @model.deleteds}}>
    Supprimer définitivement ({{@model.deletedsCount}})
  </button>
  <button class="btn btn-secondary" type="button" {{action "cancelDeletion" @model.deleteds}}>
    Annuler la suppression ({{@model.deletedsCount}})
  </button>
{{/if}}
{{outlet}}