{{page-title "Index"}}
<form {{action "login" @model on="submit"}}>
  <div class="ui inverted segment">
    <div class="ui inverted form">
      <h1 class="header">Connexion</h1>
      <div class="two fields">
        <div class="field">
          <label>Email</label>
          <Input type="email" @value={{@model.email}} placeholder="Votre email" />
        </div>
        <div class="field">
          <label>Mot de passe</label>
          <Input type="password" @value={{@model.password}} placeholder="Votre mot de passe" />
        </div>
      </div>
      <button class="ui submit button" disabled="{{if (and @model.email @model.password) "" "disabled"}}" type="submit">Se connecter</button>
    </div>
  </div>
</form>
{{outlet}}